*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #3A80D2;
}

header{
    color: white;
}

main{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   height: 100vh;
   gap: 10px;
}

section{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 430px;
    padding: 25px;
    height: 50%;
    background-color: white;
    border-radius: 10px;
}



.foi{
    width: 100px;
    height: 100px;
    background-color: blue;
}



.move_img_display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.display{
    width: 345px;
    
}

.img_div{
    width: 260px;
    height: 250px;
    border-radius: 50%;
}

.config_img{
    width: 260px;
    height: 250px;
    border-radius: 50%;
}
